html, body {
  height: 100%;
  font-family: Arial;
}

body {
  background-color: #000;
  color: #fff;
}

.logo {
  font-family: monospace;
  font-size: 3.5em;
  text-shadow: 0 0 5px #fff;
  cursor: default;
}

.page {
  margin: 0 auto;
  width: 1024px;
}

.content {
  width: 800px;
}

.header, .content, .footer {
  margin: 25px auto;
}

.footer p {
  text-align: center;
}

a {
  color: #888;
}
a img {
  margin: 0 5px;
}